#body {
	width: 980px;
	margin: 0 auto;
	min-height: 80%;
	height: 80%;
}

.site-li {
	position: relative;
	height: 44px;
	line-height: 44px;
	float: left;
	width: 170px;
	margin: 4px;
	white-space: nowrap;
	background-color: #006699;
	color: white;
	text-align: left;
	font-size: 20px;
	list-style: none;
}

.site-li a {
	color: #ffffff;
}

.section-more,.website-more {
	padding: 0 0 35px;
}

.website-more a {
	display: block;
	margin: 0 3px;
	height: 45px;
	border: 1px solid #dee0e2;
	border-radius: 2px;
	text-align: center;
}

.section-more a span,.website-more a span {
	display: inline-block;
	height: 45px;
	padding-right: 20px;
	font: 400 18px/45px "微软雅黑";
	color: #369;
}

li.section-li {
	margin: 6px 0;
	padding: 6px 0;
	text-align: left;
	list-style: none;
}

.section-li a.url {
	color: #008000;
}

.slave-li {
	position: relative;
	height: 58px;
	line-height: 28px;
	float: left;
	width: 180px;
	margin: 4px;
	white-space: nowrap;
	background-color: #006699;
	color: white;
	text-align: center;
	font-size: 20px;
	list-style: none;
}

.slave-li a {
	color: #ffffff;
}

.form-wrapper {
	display: none;
	width: 412px;
	height: 448px;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	margin-left: -206px;
	margin-top: -227px;
	box-shadow: 0 1px 3px #DEDEDE;
	width: 412px;
	background-color: #FFF;
}

.form-wrapper-title {
	background-color: #F7F7F7;
	color: #333;
	font-size: 16px;
	padding-left: 18px;
	height: 44px;
	line-height: 44px;
	font-weight: 700;
	border-bottom: 1px solid #DCDCDC;
}

.form-wrapper-close {
	float: right;
	width: 44px;
	height: 44px;
	background: url(../img/card_manage.png) -30px 16px no-repeat;
	background-color: #F7F7F7;
}

.form-wrapper-center {
	padding: 0 28px 40px;
}

.form-label {
	width: auto;
	font-size: 14px;
	font-weight: 700;
	color: #333;
	margin-bottom: 4px;
}

.form-input {
	width: 346px;
	border: 1px solid #DDD;
	font-size: 14px;
	padding: 8px;
	background: 0 0;
	background-color: #FFF;
}

.form-btn {
	margin-left: 0;
	width: 354px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	background: 0 0;
	background-color: #488DE8;
	border-radius: 3px;
	color: #fff;
	border: none;
}

.form-wrapper-center form>div {
	margin: 3px 0;
	padding: 3px 0;
}

h2,h3 {
	display: inline;
}

.editmore {
	display: inline;
}

.editmore span {
	display: none;
}

.anchorbtn,.inputbtn {
	/* width: 20px; */
	height: 30px;
	/* line-height: 50px;
	font-size: 16px; */
	text-align: center;
	background: 0 0;
	background-color: #488DE8;
	border-radius: 3px;
	color: #fff;
	border: none;
	cursor: pointer;
}

a:active,a:hover {
	outline: 0;
}

.none-data {
	font-size: 20px;
	font-family: 'Microsoft YaHei', sans-serif;
	text-align: center;
	height: 50%;
	padding-top: 7%;
}

#content {
	width: 80%;
	min-width: 988px;
	min-height: 50%;
	padding-bottom: 36px;
}

.conf-panel {
	margin: 5px 0;
	padding: 5px 0;
}

.confdiv  div {
	padding: 4px 0;
}

/* .confdiv input[type=text] {
	width: 290px;
} */
.saveMsg {
	padding: 5px;
	font-size: 12px;
}

.right-promotion {
	border: 1px solid #C2DFAB;
	width: 270px;
	display: block;
	right: 23px;
	position: fixed;
	overflow: hidden;
	top: 5px;
	min-height: 100px;
	text-align: center;
}

.right-promotion-title {
	background-color: #E1EFD6;
	color: #333;
	font-size: 13px;
	padding-left: 18px;
	height: 35px;
	line-height: 35px;
	font-weight: 700;
}

.right-panel {
	border: 1px solid #e3e3e3;
	width: 220px;
	min-height: 300px;
	z-index: 999;
	position: absolute;
	right: 10px;
	height: 70%;
	background-color: #fff;
}

.right-panel ul li {
}