  ---
  Cralwer ${project.version} 
  ---
  ---
  ${maven.build.timestamp}

Cralwer ${project.version}
  
%{toc|section=1|fromDepth=0}  

  Crawler${project.version} 是一个网络與情爬虫，其核心是利用httpclient和htmlunit下载网页，并利用jsoup解析网页。
  Crawler包含一个Master、多个Slave，以及一个WEB-UI爬虫管理。
  
  用户通过WEB-UI发送任务给Master，然后由Master分配任务给Slave， Slave进行抓取。

* {Crawler Master}

  {{{./crawler-master/master.html}Crawler Master}}文档
  
* {Crawler Slave}

  {{{./crawler-slave/slave.html}Crawler Slave}}文档

* {Crawler Web}

  {{{./crawler-web/web.html}Crawler Web}}文档
  