<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] (%F:%L): %m%n" />
		</layout>

		<!-- 过滤器设置输出的级别 -->
		<!-- <filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="fatal" />
			<param name="AcceptOnMatch" value="true" />
		</filter> -->
	</appender>
	<appender name="dailyfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/tmp/crawlerlogs/common.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy_MM_dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} [%p] (%F:%L): %m%n" />
		</layout>
	</appender>
	<appender name="mail" class="org.apache.log4j.net.SMTPAppender">
		
	</appender>
	<logger name="CoreErrorLog" additivity="false">
		<level value="error" />
		<appender-ref ref="dailyfile" />
	</logger>
	<logger name="com.gargoylesoftware.htmlunit" additivity="false">
		<level value="off" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyfile" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyfile" />
	</logger>
	<logger name="com.zxsoft.crawler" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyfile" />
	</logger>
	<root>
		<level value="info" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
